services:
  api:
    build: api/.
    restart: unless-stopped
    depends_on:
      - "db"
    environment:
      DB_URL: db:5432
      DB_USER: postgres
      DB_PWD: test
    volumes:
      - ./api/docker-entrypoint.sh:/docker-entrypoint.sh
      - ./api/app:/app/app
      - ./api/imports:/app/imports
      - ./api/alembic-mentha-db:/app/alembic-mentha-db
      - ./api/alembic.ini:/app/alembic.ini
      - ./api/tests:/app/tests
      - ./api/pyproject.toml:/app/pyproject.toml
      - ./api/poetry.lock:/app/poetry.lock
    entrypoint: bash -c "/docker-entrypoint.sh"
    ports:
      - 8000:80

  client:
    image: node:22.5
    restart: unless-stopped
    working_dir: /app
    # environment:
    # For these env vars to be usable they must begin with REACT_APP:
    # REACT_EXAMPLE: example
    volumes:
      - ./client:/app
    entrypoint: bash -c "npm install && npm run dev"
    ports:
      - 3000:3000
      - 6006:6006

  db:
    image: postgres:16.0
    restart: unless-stopped
    ports:
      - 5432:5432
    environment:
      POSTGRES_PASSWORD: test
      POSTGRES_DB: mentha-db
    volumes:
      - ./api/exports:/exports

  adminer:
    image: adminer
    restart: unless-stopped
    ports:
      - 8080:8080
